
.row {
    position: relative;
    margin: 5vh 0 0 0;
    width: 60vw;
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex: 18vw;
    max-width: 18vw;
    padding: 1vh 1vw;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    cursor: pointer;
    transition: 0.3s;
}

.column img:hover {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 800px) {
  .row{
    width: 87vw;
    /* background-color: aquamarine; */
  }
  .column {
    flex: 27vw;
    max-width: 27vw;
    padding: 1vh 1vw;
}
}

/* @media screen and (max-width: 600px) {
  .column {
    flex: 75vw;
    max-width: 75vw;
  }
} */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
  align-items: center;
  justify-content: center;
}

.modal-content {
  position: relative;
  margin: 5vh auto;
  display: block;
  max-width: 80vw;
  max-height: 80vh;
  object-fit: contain;
}

.close {
  color: white;
  position: absolute;
  top: 7vh;
  right: 15vw;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
  z-index: 2;
}

.close:hover {
  color: #999;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  user-select: none;
}

.next {
  right: 10px;
}

.prev {
  left: 10px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.mySlides {
  display: none;
}
.mySlides > img {
    height: 70vh;
    width: auto;
    max-width: 80vw;
    object-fit: contain;
}
